/*
  WebGL
*/
html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  color: white;
  background-color: black;
  z-index: 1;
}

/*
  LOADING SCREEN
*/
.loading-screen {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  word-break: break-all;
  user-select: none;
  background: black;
  z-index: 1;
}

.epilepsy-warning {
  border: 1px solid #E06A6A;
  color: #FF7A7A;
  padding: 5px;
  font-size: 0.6rem;
  font-weight: 400;
}

.loading-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 85px;
  padding: 10px;
  position: relative;
  box-sizing: border-box;
}

.loading-screen .loading-box .title {
  font-size: 1.8rem;
  font-weight: 500;
}

.loading-screen .loading-box .subtitle {
  font-size: 0.7rem;
  font-family: "Roboto Mono", monospace;
  margin-top: 5px;
}

.loading-screen .loading-box .loader-top {
  position: absolute;
  width: 0%;
  height: 1px;
  top: 0;
  left: 0;
  background-color: white;
  transition: width 0.5s ease, height 0.5s ease;
}

.loading-screen .loading-box .loader-left {
  position: absolute;
  width: 1px;
  height: 0%;
  left: 0;
  bottom: 0;
  background-color: white;
  transition: width 0.5s ease, height 0.5s ease;
}

.loading-screen .loading-box .loader-bottom {
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: 0;
  right: 0;
  background-color: white;
  transition: width 0.5s ease, height 0.5s ease;
}

.loading-screen .loading-box .loader-right {
  position: absolute;
  width: 1px;
  height: 0%;
  right: 0;
  top: 0;
  background-color: white;
  transition: width 0.5s ease, height 0.5s ease;
}

.loading-screen .loading-box.finished:hover {
  cursor: pointer;
  color: #FDF5F5;
}

.loading-screen .loading-box.finished:hover .loader-top {
  background-color: #ECEFF0;
}

.loading-screen .loading-box.finished:hover .loader-left {
  background-color: #ECEFF0;
}

.loading-screen .loading-box.finished:hover .loader-bottom {
  background-color: #ECEFF0;
}

.loading-screen .loading-box.finished:hover .loader-right {
  background-color: #ECEFF0;
}

/*
  DISCONNECT
*/
.disconnect-container {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  word-break: break-all;
  user-select: none;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.disconnect {
  border: 1px solid #E06A6A;
  color: #FF7A7A;
  padding: 13px;
  font-size: 1.2rem;
  font-family: "Roboto Mono", monospace;
}

/*
  OVERLAY
*/

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  pointer-events: none;
}

.overlay .top {
  display: flex;
  position: relative;
  flex-direction: column;
  pointer-events: auto;
  padding: 41px;
}

.overlay .top .text {
  position: relative;
  font-size: 1.1rem;
  font-weight: 500;
  user-select: none;
  width: fit-content;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  color: white;
}

.overlay .top .text.smaller {
  font-size: 0.8rem;
}

.overlay .top .icons {
  position: relative;
  left: 5px;
  display: flex;
  gap: 7px;
}

.overlay .top .icons a img {
  position: relative;
}

.overlay .top nav {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
}

.overlay .top nav a {
  color: lightgray;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
}

.overlay .top nav a:hover {
  color: white;
}

.overlay .bottom {
  display: flex;
  position: absolute;
  bottom: 0;
  pointer-events: auto;
}

.overlay .sound-container {
  display: flex;
  align-items: center;
  position: relative;
  padding: 41px;
  gap: 13px;
  font-family: "Roboto Mono", monospace;
  user-select: none;
}

.overlay .sound-container  img{
  cursor: pointer;
}

.overlay .sound-container .label {
  font-size: 0.8rem;
}


@media (max-width: 480px) {
  .overlay .sound-container .label {
    display: none;
  }

  .overlay .top .text {
    font-size: 1rem;
  }

  .overlay .top .text.smaller {
    font-size: 0.7rem;
  }

  .overlay .top .icons a img {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 767px) {
  .overlay .sound-container .label {
    display: none;
  }

  .overlay .top .text {
    font-size: 0.8rem;
  }

  .overlay .top .text.smaller {
    font-size: 0.5rem;
  }

  .overlay .top .icons a img {
    width: 19px;
    height: 19px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .overlay .sound-container .label {
    display: none;
  }

  .overlay .top .text {
    font-size: 0.9rem;
  }

  .overlay .top .text.smaller {
    font-size: 0.6rem;
  }

  .overlay .top .icons a img {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 1200px) {
  .overlay .sound-container .label {
    display: block;
  }
}
/*
  OVERLAY

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: "none";
}

.bottom-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 17px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  gap: 7px;
}

.bottom-container .title {
  font-size: 2rem;
  font-weight: 500;
  user-select: none;
}

.bottom-container .subtitle {
  font-size: 1rem;
  user-select: none;
}

.bottom-container nav {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
}

.bottom-container nav a {
  color: lightgray;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
}

.bottom-container nav a:hover {
  color: white;
}

.toggleable-sound-container {
  position: absolute;
  bottom: 37px;
  left: 37px;
  font-weight: 600;
  user-select: none;
  gap: 13px;
  font-size: 0.8rem;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 480px) {
  .toggleable-sound-container {
    display: none;
  }
}

@media (max-width: 767px) {
  .toggleable-sound-container {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .toggleable-sound-container {
    display: none;
  }
}

@media (min-width: 1200px) {
  .toggleable-sound-container {
    display: flex;
  }
}
*/

/*
  CCTV UI 

.cctv-container {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

.cctv-corner-lines {
  position: absolute;
  padding: 13px;
}

.cctv-line-vertical {
  background-color: white;
  width: 2px;
  height: 105px;
  opacity: 0.8;
}

.cctv-line-horizontal {
  background-color: white;
  width: 105px;
  height: 2px;
  opacity: 0.8;
}

.cctv-info-container {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  user-select: none;
}

.cctv-info-item {
  width: 250px;
}
*/

/*
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Helvetica";
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica"), url("/public/font/Helvetica.woff") format("woff");
}

.cctv {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 13px;
  color: "gray";
  z-index: 1;
  color: white;
  width: 100vw;
  height: 100vh;
}

.cctv-line-group {
  position: absolute;
}

.cam-line {
  background-color: white;
  width: 2px;
  height: 105px;
  opacity: 0.8;
}

.cam-line-v2 {
  background-color: white;
  width: 2px;
  height: 105px;
  opacity: 0.8;
}

.cam-top-line {
  background-color: white;
  width: 105px;
  height: 2px;
  opacity: 0.8;
}


.cctv-info-group {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  user-select: none;
}

.cctv-info-group .cctv-info {
  width: 250px;
}

.record-pulse {
  background: white;
  border-radius: 50%;
  height: 12px;
  width: 12px;

  box-shadow: 0 0 0 0 rgba(230, 230, 230);
  transform: scale(1);
  animation: pulse 2s infinite;
  top: 23px;
  left: 23px;
}

@keyframes pulse {
  0% {
    transform: scale(0.6);
    box-shadow: 0 0 0 0 rgba(230, 230, 230, 0.7);
  }

  70% {
    transform: scale(0.7);
    box-shadow: 0 0 0 10px rgba(230, 230, 230);
  }

  100% {
    transform: scale(0.6);
    box-shadow: 0 0 0 0 rgba(230, 230, 230);
  }
}

.record-pulse-label {
  position: absolute;
  top: 35px;
  left: 70px;
}
*/
